{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "importOrder": [
    "^(react|next?/?([a-zA-Z/]*))$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
